.maincard{
  width: 80%;
  margin: auto;
}

.hdn{
  background-color: rgb(234, 245, 241);
  border-radius: 10px;
  padding-left: 8px;
  height: 50px;
  display: flex;
  align-items: center;
}

.unp{
  height: 100px;
  background-color: rgb(73, 94, 94);
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 15px;
}

.inp{
  height: 50px;
  margin: 10px;
  border: 2px solid rgb(41, 74, 33);
  border-radius: 5px;
  background-color: rgb(83, 215, 215);
  text-align: center;
}

.ibtn{
  height: 40px;
  width: 80px;
  background-color: green;
  margin-left: auto;
  border: none;
  border-radius: 5px;
  color: bisque;
}

.mcard{
  width: 170px;
  height: 150px;
  border: 1px solid rgb(224, 133, 133);
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
}

.mmcd{
  display: flex;
  flex-wrap: wrap;
}